/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
	color: #222;
	font-size: 16px;
	line-height: 1.4;
}

::-moz-selection {
 background: #b3d4fc;
 text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
* {
	box-sizing: border-box;
}
html {
	font-family: "Avenir Next", "Avenir", helvetica, arial, sans-serif;
}
a {
	text-decoration:none;
}
.right {
	float: right;
}
.flex-distribute {
	display: flex;
	align-content: flex-start;
	align-items: center;
	justify-content: space-between;
}
.header {
	position:fixed;
	top:0;
	width: 100%;
	height: 44px;
	background-color: #000;
	padding: 0 12px 8px 8px;
	z-index:1000;
}
.header-fill {
	fill: #EF08FF;
	color: #EF08FF;
}
.search-icon {
	width: 19px;
	height: 19px;
}
.header h1 {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
}
.main-container {
	padding-top: 44px;
	margin: 0 0 0 10px;
}

.table-section {
	margin-bottom: 52px;	
}

.table-section:last-of-type {
	margin-bottom: 0;	
}
.table-section h1 {
	color:#B100EF;
	font-size: 13px;
	font-weight: 800;
	text-transform: uppercase;
}
.cell{
	padding: 5px 0;
	border-bottom: solid 1px #ccc;	
}

.cell img.profile-pic {
	    width: 39px;
    height: 39px;
    margin-right: 10px;
    float: left;
    border-radius: 50%;
    position: relative;
    top: 6px;
}
svg.contestant-icon{
	width:10px;
	height:9px;
	fill: #B100EF;
	display:inline-block;
	
}
.cell h2 {
	color: #B100EF;
	font-size: 10px;
	margin: -2px 0;
	padding: 0;
	font-weight:400;
	display:inline-block;
}
.cell h1 {
	color:#000;
	font-size: 13px;
	font-weight: 800;
	text-transform: uppercase;
	margin: -2px 0;
	padding: 0;
}
.cell p {
	color: #B100EF;
	font-size: 10px;
	margin:0;
	padding:0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
*, *:before, *:after {
	background: transparent !important;
	color: #000 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
a, a:visited {
	text-decoration: underline;
}
a[href]:after {
	content: " (" attr(href) ")";
}
abbr[title]:after {
	content: " (" attr(title) ")";
}
a[href^="#"]:after, a[href^="javascript:"]:after {
	content: "";
}
pre, blockquote {
	border: 1px solid #999;
	page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr, img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
p, h2, h3 {
	orphans: 3;
	widows: 3;
}
h2, h3 {
	page-break-after: avoid;
}
}
